In [39]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

# Amaç Bu veriye dayanarak binanın ısıtma ve soğutma yükünü tahmin etmek amaçlanmaktadır.

In [43]:
from warnings import filterwarnings
filterwarnings('ignore')

In [44]:
df=pd.read_csv('enerji_data.csv')
df.head()
#X1 Bağıl Kompaktlık
#X2 Yüzey Alanı
#X3 Duvar Alanı
#X4 Çatı Alanı
#X5 Toplam Yükseklik
#X6 Yönlendirme
#X7 Cam Alanı
#X8 Cam Alanı Dağılımı
#y1 Isıtma Yükü
#y2 Soğutma Yükü

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      768 non-null    float64
 1   X2      768 non-null    float64
 2   X3      768 non-null    float64
 3   X4      768 non-null    float64
 4   X5      768 non-null    float64
 5   X6      768 non-null    int64
 6   X7      768 non-null    float64
 7   X8      768 non-null    int64
 8   Y1      768 non-null    float64
 9   Y2      768 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 60.1 KB

In [46]:
df.isnull().sum()

X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
X8    0
Y1    0
Y2    0
dtype: int64

In [62]:

# y ise bağımlı değişken
y=df['Y1']
#dummy sonrasında değişkenleri bağımlı olanı da siliyoruz.
X_=df.drop(['Y1'],axis=1).astype('float64')
# orjinal veri seti ile oluşturduğumuz dummyleri bir araya getirdik.
X=pd.concat([X_[['X4','X3','X2']]],axis=1)

In [63]:
X_train,X_test,y_train,y_test=train_test_split(X,
                                               y,
                                            test_size=0.25,
                                              random_state=42)

In [78]:
rf_model= RandomForestRegressor(random_state=42).fit(X_train,y_train)

In [65]:
y_pred=rf_model.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

3.0924464915740497

In [73]:
rf_params={"max_depth": [5,8,10],
            "max_features":[1,2,5,10],
            "n_estimators":[200,500,1000,2000],
            "min_samples_split":[2,10,80,100]}

In [74]:
rf_cv_model=GridSearchCV(rf_model,rf_params,cv=10,n_jobs=-1,verbose=2).fit(X_train,y_train)

Fitting 10 folds for each of 192 candidates, totalling 1920 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   28.6s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 1442 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 1920 out of 1920 | elapsed:  4.6min finished

In [75]:
rf_cv_model.best_params_

{'max_depth': 5,
 'max_features': 2,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [76]:
rf_params={"max_depth": [5],
            "max_features":[2],
            "n_estimators":[1000],
            "min_samples_split":[2]}

In [81]:
y_pred=rf_model.predict(X_test)
y_pred

array([14.2027138 , 12.9943361 , 27.56103696, 38.44583199, 16.36861439,
       25.62116798, 27.56103696, 27.56103696, 16.36861439, 31.68491325,
       16.36861439, 35.88879606, 31.68491325, 11.7476525 , 16.36861439,
       35.88879606, 35.88879606, 11.7476525 , 12.38219026, 35.88879606,
       25.62116798, 38.44583199, 12.9943361 , 38.44583199, 16.36861439,
       38.44583199, 31.68491325, 25.62116798, 16.36861439, 14.2027138 ,
       11.7476525 , 11.7476525 , 16.36861439, 25.62116798, 38.44583199,
       27.56103696, 27.56103696, 38.44583199, 31.68491325, 12.38219026,
       27.56103696, 11.7476525 , 12.38219026, 28.52616244, 12.41148831,
       12.38219026, 12.9943361 , 12.38219026, 28.52616244, 31.68491325,
       31.68491325, 12.9943361 , 12.9943361 , 38.44583199, 12.38219026,
       16.36861439, 11.7476525 , 25.62116798, 35.88879606, 35.88879606,
       12.41148831, 14.2027138 , 12.9943361 , 25.62116798, 27.56103696,
       38.44583199, 38.44583199, 12.9943361 , 14.2027138 , 11.7476525 ,
       31.68491325, 27.56103696, 12.41148831, 25.62116798, 28.52616244,
       11.7476525 , 25.62116798, 25.62116798, 27.56103696, 28.52616244,
       27.56103696, 38.44583199, 12.38219026, 14.2027138 , 12.9943361 ,
       12.38219026, 28.52616244, 35.88879606, 38.44583199, 16.36861439,
       16.36861439, 25.62116798, 12.41148831, 12.9943361 , 35.88879606,
       12.9943361 , 28.52616244, 28.52616244, 12.38219026, 12.38219026,
       35.88879606, 27.56103696, 11.7476525 , 31.68491325, 28.52616244,
       14.2027138 , 25.62116798, 14.2027138 , 12.41148831, 11.7476525 ,
       35.88879606, 28.52616244, 27.56103696, 12.9943361 , 11.7476525 ,
       12.38219026, 12.41148831, 11.7476525 , 12.41148831, 31.68491325,
       31.68491325, 12.41148831, 35.88879606, 14.2027138 , 31.68491325,
       16.36861439, 12.41148831, 38.44583199, 27.56103696, 35.88879606,
       27.56103696, 35.88879606, 14.2027138 , 11.7476525 , 12.38219026,
       16.36861439, 28.52616244, 38.44583199, 11.7476525 , 16.36861439,
       12.38219026, 35.88879606, 27.56103696, 31.68491325, 31.68491325,
       12.9943361 , 11.7476525 , 31.68491325, 31.68491325, 38.44583199,
       31.68491325, 28.52616244, 28.52616244, 12.38219026, 25.62116798,
       16.36861439, 28.52616244, 31.68491325, 12.9943361 , 31.68491325,
       31.68491325, 38.44583199, 14.2027138 , 16.36861439, 16.36861439,
       16.36861439, 25.62116798, 35.88879606, 35.88879606, 12.41148831,
       14.2027138 , 35.88879606, 11.7476525 , 27.56103696, 14.2027138 ,
       38.44583199, 12.9943361 , 11.7476525 , 35.88879606, 35.88879606,
       12.38219026, 12.41148831, 31.68491325, 11.7476525 , 31.68491325,
       16.36861439, 27.56103696, 11.7476525 , 12.38219026, 38.44583199,
       31.68491325, 12.9943361 ])

In [82]:
np.sqrt(mean_squared_error(y_test,y_pred))

3.0924464915740497